{% extends "base.html" %}
{% block body %}
<h2>Sign Up</h2>
<div class="col-4 mx-auto">
    <form action="" method="post">
        {{form.hidden_tag()}}
        {{form.username.label}}
        {{form.username(size=20)}}
        {{form.password.label}}
        {{form.password(size=20)}}
        {{form.submit()}}
    </form>
    <br>
    <div class="account">
    <p> Already have an account? ---></p>
    <a href="{{url_for('signin')}}" class="btn btn-success"> Sign In</a>
    </div>

</div>
{% endblock body %}